.git*
log/*
tmp/*
provisioning/*
Dockerfile
README.md
node_modules
data_files
tmp
config/master.key
storage/
yarn-error.log
coverage/
.env
.DS_Store
.bin
.gitignore
.bundleignore
.bundle
.byebug_history
.rspec
config/deploy